.navbar{
  width: 100%;
  height: 4.5rem;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  gap: 1rem;
  border-bottom: 1px solid var(--white);
  position: fixed;
  top: 0;
  z-index: 3;
}

.tdbLogo{
  display: flex;
  align-items: center;
  gap: .1rem;
}

.tdbLogo figure{
  width: 2.4rem;
  height: 2.4rem;
}

.tdbLogo figure img{
  width: 100%;
}

.tdbLogo h2{
  font-size: 2.1rem;
  color: var(--secondary-color);
}

.navbarTools{
  width: 100%;
  height: calc(100% - 4.5rem);
  position: fixed;
  left: -100vw;
  top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #C6CF9A;
  gap: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  transition: left .4s ease;
  list-style: none;
}

.navbarTools li{
  position: relative;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbarTools li a{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 1rem;
  justify-content: center;
  width: 80%;
  max-width: 35rem;
  height: 6rem;
}

.toolsBttn{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 1.3rem;
  padding: .2rem 0;
  cursor: pointer;
  width: 80%;
  max-width: 35rem;
  height: 6rem;
}

.navbarTools li a img,
.toolsBttn img{
  width: 2.6rem;
}

.dropDown{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 100%;
  font-size: 2.5rem;
  width: 80%;
  max-width: 35rem;
  background-color: var(--main-color);
  border-radius: 1.5rem;
  padding: 2rem;
  z-index: 2;
  display: none;
}

.dropDown a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: relative;
}

.dropDown a img{
  width: 2rem;
  height: 2rem;
}

.navbarTools li:hover > .dropDown{
  display: flex;
}

.searchBttn{
  width: 3rem;
  height: 3rem;
  padding: .2rem;
  transition: background-color .3s ease;
}

.searchBttn,
.searchBttn figure{
  border-radius: 50%;
  cursor: pointer;
}

.searchBttn figure img{
  width: 100%;
}

.menuIcon{
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuBar1,
.menuBar2,
.menuBar3{
  position: absolute;
  width: 100%;
  height: .5rem;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  transition: transform .4s ease;
}


@media screen and (min-width: 1024px) {
  .navbarTools{
    width: max-content;
    height: 4.5rem;
    background-color: transparent;
    transform: translateX(0vw) !important;
    position: static;
    flex-direction: row;
    font-size: 2.1rem;
    gap: 3rem;
    padding: 0 1rem;
  }

  .navbarTools li a,
  .toolsBttn{
    width: auto;
    height: auto;
    padding: .5rem 1.8rem;
  }

  .navbarTools li a img,
  .toolsBttn img{
    width: 2rem;
    height: 2rem;
  }

  .dropDown{
    width: 20rem;
    font-size: 2.1rem;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 1rem;
    gap: .9rem;
    border-bottom: 1px solid var(--white);
    text-align: center;
  }

  .dropDown a{
    line-height: 1rem;
  }

  .menuIcon{
    display: none;
  }

  .searchBttn{
    margin-left: 5rem;
  }

  .searchBttn:hover{
    background-color: var(--green-2);
  }
}