.navbar{
  width: 100%;
  height: 4.5rem;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  gap: 1rem;
}

.tdbLogo{
  display: flex;
  align-items: center;
  gap: .1rem;
}

.tdbLogo figure{
  width: 2.4rem;
  height: 2.4rem;
}

.tdbLogo figure img{
  width: 100%;
}

.tdbLogo h2{
  font-size: 2.1rem;
  color: var(--secondary-color);
}

.navbarTools{
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 4.5rem);
  top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #C6CF9A;
  gap: 4.5rem;
  font-size: 2.5rem;
  font-weight: bold;

  transition: transform .4s ease;
  transform: translateX(-100vw);

  list-style: none;
}

.navbarTools li{
  position: relative;
  border-bottom: 2px solid transparent;
}

.navbarTools li a{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 2rem;
  padding: .2rem 0;
}


.toolsBttn{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 2rem;
  padding: .2rem 0;
  cursor: pointer;
}

.navbarTools li a img,
.toolsBttn img{
  width: 2.8rem;
}

.navbarTools li::after{
  content: '';
  display: flex;
  margin: auto;
  width: 0%;
  height: .15rem;
  background-color: var(--secondary-color);
  border-radius: 5rem;
  transition: width .3s;
}

.navbarTools li:hover::after{
  width: 100%;
}

.dropDown{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 100%;
  left: -7.5rem;
  font-size: 2.5rem;
  width: 25rem;
  background-color: var(--main-color);
  border-radius: 1.5rem;
  padding: 2rem;
  z-index: 2;
  display: none;
}

.dropDown span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 0 0 .5rem;
  position: relative;
}

.dropDown span img{
  width: 2rem;
  height: 2rem;
}

.dropDown span::after{
  content: '';
  display: flex;
  width: 0%;
  height: .2rem;
  background-color: var(--secondary-color);
  border-radius: 5rem;
  transition: width .3s;
  position: absolute;
  bottom: 0;
}

.dropDown span:hover::after{
  width: 100%;
}

.navbarTools li:hover > .dropDown{
  display: flex;
}

.searchBttn{
  width: 3rem;
  height: 3rem;
  padding: .2rem;
  transition: background-color .3s ease;
}

.searchBttn,
.searchBttn figure{
  border-radius: 50%;
  cursor: pointer;
}

.searchBttn figure img{
  width: 100%;
}

.menuIcon{
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuBar1,
.menuBar2,
.menuBar3{
  position: absolute;
  width: 100%;
  height: .5rem;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  transition: transform .4s ease;
}


@media screen and (min-width: 1024px) {
  .navbarTools{
    width: max-content;
    height: 7rem;
    background-color: transparent;
    transform: translateX(0vw) !important;
    position: static;
    flex-direction: row;
    font-size: 1.8rem;
  }

  .navbarTools li a img,
  .toolsBttn img{
    width: 2rem;
  }

  .dropDown{
    width: 13rem;
    left: -2.9rem;
    font-size: 1.8rem;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 1rem;
    gap: .9rem;
    border-bottom: 1px solid var(--white);
  }

  .menuIcon{
    display: none;
  }

  .searchBttn{
    margin-left: 5rem;
  }

  .searchBttn:hover{
    background-color: var(--green-2);
  }
}