.navbar{
  width: 100%;
  height: 5.5rem;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  gap: 1rem;
}

.tdbLogo{
  display: flex;
  align-items: center;
}

.tdbLogo figure{
  display: flex;
  width: 4rem;
}

.tdbLogo figure img{
  width: 100%;
}

.tdbLogo h2{
  font-size: 3rem;
  color: var(--secondary-color);
}

.navbarTools{
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 5.5rem);
  top: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #C6CF9A;
  gap: 4.5rem;
  font-size: 3.5rem;
  font-weight: bold;

  transition: transform .4s ease;
  transform: translateX(-100vw);

  list-style: none;
}

.navbarTools li a{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: 2rem;
  padding: .2rem 0;
}

.navbarTools li::after{
  content: '';
  display: flex;
  margin: auto;
  width: 0%;
  height: .3rem;
  background-color: var(--secondary-color);
  border-radius: 5rem;
  transition: width .3s;
}

.navbarTools li:hover::after{
  width: 100%;
}

.navbarTools li a img{
  width: 4rem;
}

.searchBttn{
  width: 4rem;
  height: 4rem;
  padding: .2rem;
  transition: background-color .3s ease;
}

.searchBttn,
.searchBttn figure{
  border-radius: 50%;
  cursor: pointer;
}

.searchBttn figure img{
  width: 100%;
}

.menuIcon{
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuBar1,
.menuBar2,
.menuBar3{
  position: absolute;
  width: 100%;
  height: .8rem;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  transition: transform .4s ease;
}

.menuBar1{
  transform: translateY(-1.3rem);
}

.menuBar3{
  transform: translateY(1.3rem);
}

@media screen and (min-width: 1024px) {
  .navbarTools{
    width: max-content;
    height: 7rem;
    background-color: transparent;
    transform: translateX(0vw) !important;
    position: static;
    flex-direction: row;
    font-size: 2.5rem;
  }

  .navbarTools li a img{
    width: 3rem;
  }

  .menuIcon{
    display: none;
  }

  .searchBttn{
    margin-left: 5rem;
  }

  .searchBttn:hover{
    background-color: var(--green-2);
  }
}